@model List<Mongodb.Web.Models.Book>
@{
    ViewData["Title"] = "Home Page";
}

<h1>List of Books</h1>

<h2>@TempData["Message"]</h2>

<a asp-controller="Home" asp-action="Insert">
    Add New Book
</a>

<br />

<table class="table table-responsive table-bordered"  border="1" cellpadding="10">
    <thead>
        <tr>
            <th>Id</th>
            <th>BookName</th>
            <th>Author</th>
            <th>Category</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.BookName</td>
                <td>@item.Author</td>
                <td>@item.Category</td>
                <td>@item.Price</td>
                <td>
                    <a asp-controller="Home" asp-action="Update"
                       asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <a asp-controller="Home" asp-action="ConfirmDelete"
                       asp-route-id="@item.Id">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>
